body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .fondo {
    background:rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    position:relative;
  }

  .logo {
    top: 20px;
	left: 33px;
	width: 70.09px;
	height: 70px;
    position:absolute;
    mix-blend-mode: multiply;
  }

  .logo1 {
    top: 40px;
	left: 1026px;
	width: 30px;
	height: 30px;
	background:rgba(255,255,255,1);
    position:absolute;
    border-radius: 50%;
  }

  .logo2 {
    top: 40px;
	left: 1085px;
	width: 33px;
	height: 33px;
	background:rgba(255,255,255,1);
    position:absolute;
  }

  .logo3 {
    top: 40px;
	left: 1143px;
	width: 30px;
	height: 30px;
	background:rgba(255,255,255,1);
    position:absolute;
  }

  .logo4 {
    top: 40px;
	left: 1201px;
	width: 30px;
	height: 30px;
	background:rgba(255,255,255,1);
    position:absolute;
  }

  .logo5 {
    top: 39px;
	left: 1259px;
	width: 37px;
	height: 30px;
	background:rgba(255,255,255,1);
    position:absolute;
    
  }

  .logo6 {
    top: 39px;
	left: 1320px;
	width: 30px;
	height: 30px;
	background:rgba(255,255,255,1);
    position:absolute;
    border-radius: 50%;
  }

  .logo7 {
    width:40px;
	height:40px;
	position:absolute;
	left:931px;
	top:111px;
    border-radius: 50%;
    background:rgba(255,255,255,0);
    z-index: 1;
    mix-blend-mode: multiply;
  } 

  .inicio, .salir {
    top: 107px;
	left: 816px;
	width: 101px;
	height: 19px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: center;
	color:#000000;
    position: absolute;
    z-index: 1;
  }

  
  .policia {
    top: 46px;
	left: 141px;
	width: 343.5px;
	height: 22.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	color:#000000;
    position:absolute;
  }

  .mission {
    color:rgba(0, 0, 0, 1);
	width:772px;
	height:109px;
	position:absolute;
	left:116px;
	top:245px;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
  }

  .vision {
    color:rgba(0, 0, 0, 1);
	width:756px;
	height:120px;
	position:absolute;
	left:116px;
	top:402px;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
  }

  .strategic-objectives{
    color:rgba(0, 0, 0, 1);
	width:756px;
	height:240px;
	position:absolute;
	left:116px;
	top:570px;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
  }

  .foto {
    top: 329px;
	left: 938px;
	width: 440px;
	height: 419.05px;
    position:absolute;
  }

  .cabecera {
    top: 101px;
	left: 0px;
	width: 1440px;
	height: 60px;
	background:rgba(15,57,155,1);
    position:absolute;
  }

  .bottonsession {
    top: 106px;
	left: 793px;
	width: 206px;
	height: 50px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background:rgba(55,171,171,1);
    position:absolute;
  }

  .piepagina {
    top: 919px;
	left: 0px;
	width: 1440px;
	height: 105px;
	background:rgba(15,57,155,1);
    position:absolute;
  }

  .policia2 {
    color:rgba(255, 255, 255, 1);
	width:327px;
	height:29px;
	position:absolute;
	left:557px;
	top:925px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
  }

  .policia3 {
    color:rgba(255, 255, 255, 1);
	width:717px;
	height:24px;
	position:absolute;
	left:362px;
	top:968px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
  }


/* Estilos de logginacceso */

  .contenedoraccs {
	top: 331px;
	left: 437px;
	width: 566px;
	height: 361px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #d9d4d4;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	position:absolute;
  }

  .correoelec {
	top: 435px;
	left: 475px;
	width: 235px;
	height: 35px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000000;
	background:rgba(217,217,217,1);
	position:absolute;
  }

  .contras {
	top: 502px;
	left: 475px;
	width: 235px;
	height: 35px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000000;
	background:rgba(217,217,217,1);
	position:absolute;
  }

  .aceptation {
	top: 569px;
	left: 475px;
	width: 130px;
	height: 35px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000000;
	background:rgba(39,81,177,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
  }

  .acceso {
	top: 356px;
	left: 498px;
	width: 192px;
	height: 54px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#062160;
	position:absolute;
  }

  .correo {
	top: 424px;
	left: 480px;
	width: 183px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	color:#000000;
	position:absolute;
  }

  .contraseña{
	top: 490px;
	left: 484px;
	width: 117px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	color:#000000;
	position:absolute;
  }

  .aceptar{
	color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
	position:absolute;
  }

  .separador{
	background: #000;
	width: 238px;
    top: 375px;
    left: 766px;
    border: 1px;
    rotate: -90 deg;
	width: 1px;
    height: 238px;
	position:absolute;
  }

  .regist{
	width: 100px;
    height: 100px;
    top: 421px;
    left: 835px;
	width: 100px;
    height: 100px;
    flex-shrink: 0;
	position:absolute;
  }

  .reggist{
	width: 130px;
	height: 35px;
	top: 570px;
	left: 820px;
	border-radius: 5px;
	border: 1px;
	width: 130px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 1px solid #000;
	background: #2751B1;
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
  }

  .registrar{
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	color:#FFFFFF;
	position:absolute;
  }

  .olvido{
	top: 635px;
	left: 543px;
	width: 334px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#062160;
	position:absolute;
  }


/* Estilos de loggiregistro */

.identity{
	top: 252px;
	left: 463px;
	width: 200px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(39,81,177,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

.name{
	top: 310px;
	left: 463px;
	width: 200px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(39,81,177,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

.lastna{
	top: 368px;
	left: 463px;
	width: 200px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(39,81,177,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

.datebor{
	top: 426px;
	left: 463px;
	width: 200px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(39,81,177,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

.citybor{
	top: 490px;
	left: 463px;
	width: 200px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(39,81,177,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

.phonenu{
	top: 550px;
	left: 463px;
	width: 200px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(39,81,177,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

.rolle{
	top: 608px;
	left: 463px;
	width: 200px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(39,81,177,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

.email{
	top: 666px;
	left: 463px;
	width: 200px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(39,81,177,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

.passw{
	top: 724px;
	left: 463px;
	width: 200px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(39,81,177,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}


.identif, .nombre, .apellido, .fechanaci, .ciudadnaci, .telefono, .carg, .correoe, .contrasena{
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	font-weight: bold;
	color:#FFFFFF;
}

#identity{
	top: 252px;
	left: 713px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

#name{
	top: 310px;
	left: 713px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

#lastna{
	top: 368px;
	left: 713px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

#datebor{
	top: 426px;
	left: 713px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

#citybor{
	top: 490px;
	left: 713px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

#phonenu{
	top: 550px;
	left: 713px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

#rolle{
	top: 608px;
	left: 713px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

#email{
	top: 666px;
	left: 713px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

#passw{
	top: 724px;
	left: 713px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

.reggrist{
	top: 840px;
	left: 600px;
	width: 237px;
	height: 65px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(39,81,177,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
}

.regrist, .forget-user, .forget-passw {
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}

/* Estilos de loggiregistro */

.mensajje{
	top: 454px;
	left: 350px;
	width: 739.4px;
	height: 123.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: center;
	color:#000000;
	position:absolute;
}

/* Estilos de loggiregistro */

.boton-rec-user{
	top: 445px;
	left: 584px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(74,108,186,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
	text-decoration: none;
}

.boton-rec-passw{
	top: 571px;
	left: 584px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(74,108,186,1);
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
	position:absolute;
	text-decoration: none;
}

