body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .fondo {
    background:rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    position:relative;
  }

  /* Zona de iconos con redes sociales*/

  .cabeza{
    background-color: #FFF;
    width: 100%;
    height: 10vh;
    top: 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction:row
  }

  .logo {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 4.3805rem;
    height: 4.375rem;
    background: url(../Images/Escudo.jpg), lightgray 50% / cover no-repeat;
    border-radius: 10px;
    margin-left: 2.06rem;
  }

  .policia {
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
    color:#000000;
    margin-left: 2.40rem;
  }

  .cabeza section{
    display: flex;
    justify-content: center; /* Centra los logos horizontalmente */
    gap: 2rem; /* Espacio entre los logos */
    margin-left: 43rem;
  }

  .cabeza section img{
    width: 3rem; /* O ajusta según sea necesario */
    height: 3rem; /* O ajusta según sea necesario */
    border-radius: 50%; /* Para hacerlos circulares */
    background: rgba(255, 255, 255, 1);
  }

 /* Zona del boton de inicio de sesion */

  .cabecera {
    top: 10vh; /* Ajustado a un porcentaje del viewport height */
    left: 0px;
    width: 100%;
    height: 5.8vh; /* Ajustado a un porcentaje del viewport height */
    background: rgba(15,57,155,1);
    display: flex;
    align-items: center;
    position: absolute;
  }

  .boton-sesion {
    display: inline-flex; /* Usamos flex para alinear los elementos internos */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    text-decoration: none; /* Elimina el subrayado del enlace */
    width: 12rem;
    height: 2.6rem;
    
    color: black; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 12px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el efecto hover */
    margin-left: 50rem;
  }

  .boton-sesion:hover {
    background-color: #007070; /* Cambio de color al pasar el mouse */
  }

  .boton-sesion div {
    display: flex;
    align-items: center;
    background-color: #38ABAB; /* Color de fondo del botón */
  }

  .logo7 {
    width:2.5rem;
    height:2.5rem;
    vertical-align: middle;
    margin-right: 0px;
    border-radius: 50%;
    background:rgba(255,255,255,0);
    z-index: 1;
    mix-blend-mode: multiply;
    display: inline-block;
  } 

  .inicio, .salir {
    overflow: hidden;
    font-family: Inter;
    font-size: 1rem; /* Tamaño de fuente responsivo */
    text-align: center;
    z-index: 1;
    margin-right: 20px;
  }



  .piepagina {
    top: 89.75vh;
    left: 0px;
    width: 100%;
    height: 10.25vh;
    background:rgba(15,57,155,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
  }

  .policia2, .policia3{
    color:rgba(255, 255, 255, 1);
    font-family:Inter;
    text-align:center;
    letter-spacing:0;
  }

  .policia2 {
    font-size:1.5rem;
    margin-bottom: 0.5rem;
  }

  .policia3 {
    font-size: 1.25rem;;
  }

  /* Media queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .cabecera {
      top: 7vh; /* Ajuste para pantallas más pequeñas */
      height: 8vh;
  }
  .boton-sesion {
    margin-left: 1rem; /* Ajuste para pantallas pequeñas */
    margin-right: 1rem; /* Ajuste para pantallas pequeñas */
    width: auto; /* Ajusta el ancho según el contenido */
  }
}

@media (max-width: 480px) {
  .cabecera {
      top: 5vh; /* Ajuste para pantallas aún más pequeñas */
      height: 10vh;
  }
  
}