body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Uso Flexbox */
    flex-direction: column; /* Los elementos se organizan verticalmente */
  }
  
  body {
    min-height: 100vh; /* Altura mínima del 100% del viewport */
  }

  main {
    flex: 1;
  }

  .fondo {
    background:rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    position:relative;
  }

  /* Zona de iconos con redes sociales*/

  .cabeza{
    background-color: #FFF;
    width: 100%;
    height: 10vh;
    top: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction:row;
  }

  .logo {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: auto;
    height: 6vh;
    background: url(../Images/Escudo.jpg), lightgray 50% / cover no-repeat;
    border-radius: 10px;
    margin-left: 3vw;
  }

  .policia {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    color:#000000;
    flex-grow: 1; /* Añadido para que ocupe el espacio disponible */
    margin-left: 3vw;
  }

  .cabeza section{
    display: flex;
    justify-content: center; /* Centra los logos horizontalmente */
    gap: 2vw; /* Espacio entre los logos */
    margin-right: 3vw;
    margin-left: 3vw;
  }

  .cabeza section img{
    width: auto; /* O ajusta según sea necesario */
    height: 4vh; /* O ajusta según sea necesario */
    min-width: 20px; /* Ancho mínimo para que las imágenes no sean demasiado pequeñas */
    min-height: 20px; /* Altura mínima para mantener la proporción */
    border-radius: 50%; /* Para hacerlos circulares */
    background: rgba(255, 255, 255, 1);
    transition: transform 0.3s ease; /* Animación suave para el efecto de escala */
  }

  .cabeza section img:hover {
    transform: scale(1.5); /* Aumenta el tamaño del icono al 150% */
  }

 /* Zona del boton de inicio de sesion */

  .cabecera {
    top: 10vh; /* Ajustado a un porcentaje del viewport height */
    left: 0px;
    width: 100%;
    height: 5.8vh; /* Ajustado a un porcentaje del viewport height */
    background: rgba(15,57,155,1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcome {
    font-family: Inter;
    font-size: 1.75rem;
    text-align: center;
    color:#FFF;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botonmenu {
    display: flex; 
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    text-decoration: none; /* Elimina el subrayado del enlace */
    width: 11vw;
    height: 3.4vh;
    background-color: #38ABAB; /* Color de fondo del botón */
    color: black; /* Color del texto */
    padding: 0.8vh 1.2vw; /* Espaciado interno del botón */
    border-radius: 1.27vh; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el efecto hover */
    margin-left: 8vw;
    font-family: Inter;
    font-size: 1.2rem; /* Tamaño de fuente responsivo */
    color: white; /* Color del texto */
  } 

  .botonmenu > .menudesplegable {
    align-items: flex-end;
  }

  .menudesplegable {
    margin: 0; /* Asegúrate de no tener márgenes que desplacen el texto */
  }

  .buscar {
    width:2.5vw;
    height:3.3vh;
    vertical-align: middle;
    margin: 0px;
    border-radius: 50%;
    background:rgba(255,255,255,0);
    /*z-index: 1;*/
    mix-blend-mode: multiply;
    display: inline-block;
  }

  .sidebar {
    position: fixed;
    /*top: 106px; /* Esto debería ser igual al top de .bottonmenu si quieres alinearlos */
    left: -17vw;
    width: 17vw;
    height: 73.95vh;
    /*height: 100vh; /* Usar 100vh para que tome toda la altura de la pantalla */
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    border-radius: 1vh;
  }
  
  .sidebar.visible {
    left: 0;
  }

  /* Zona del pie de pagina */

  .piepagina {
    /*top: 89.75vh;*/
    left: 0px;
    width: 100%;
    height: 10.25vh;
    background:rgba(15,57,155,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .policia2, .policia3 {
    color:rgba(255, 255, 255, 1);
    font-family:Inter;
    text-align:center;
    letter-spacing:0;
  }

  .policia2 {
    font-size:1.5rem;
    margin-bottom: 0.5rem;
  }

  .policia3 {
    font-size: 1.25rem;;
  }



@media (max-width: 768px) {
  .logo{
    margin-top: 1vh;
    margin-left: 0vw;
    height: 5vh;
  }

  .policia {
    text-align: center;
    margin-left: 0vw;
    padding: 0vh 1vw;
  }

  .cabeza {
    height: auto; /* Altura automática para acomodar el contenido */
    flex-direction: column; /* Cambio a columna para mejor disposición */
    align-items: center; /* Alineación central */
  }

  .cabeza section{
    margin-right: 0vw;
  }
  
  .cabecera { 
    align-items: center; /* Alineación central */
    justify-content: center;
  }

  .welcome {
    font-size: 1.5rem;
  }

  .boton-sesion, .boton-back {
    margin-left: 1rem; /* Ajuste para pantallas pequeñas */
    margin-right: 1rem; /* Ajuste para pantallas pequeñas */
    margin: 10px 0; /* Margen para separar de otros elementos */
  }
}

@media (max-width: 480px) {
  .logo{
    margin-top: 1vh;
  }

  .policia {
    font-size: 1rem;
  }
  .cabeza {
    height: auto; /* Altura automática para acomodar el contenido */
    flex-direction: column; /* Cambio a columna para mejor disposición */
    align-items: center; /* Alineación central */
  }

  .cabeza section{
    margin-right: 0vw;
  }
  
  .cabecera { 
    align-items: center; /* Alineación central */
    justify-content: center;
  }

  .welcome {
    font-size: 1.25rem;
  }

  .policia2, .policia3 {
    font-size: 1rem; /* Reducción del tamaño de fuente para mejor legibilidad */
  }
  .cabeza section {
    gap: 1rem; /* Reducción del espacio entre iconos */
  }
  .boton-sesion, .boton-back {
    padding: 5px 10px; /* Ajuste del relleno para botones más pequeños */
  }
}