.basic {
    .adminis{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .bottonmenu{
        margin-bottom: 2vh;
        display: flex; 
        align-items: center; /* Centra los elementos verticalmente */
        justify-content: center; /* Centra los elementos horizontalmente */
        text-decoration: none; /* Elimina el subrayado del enlace */
        width: 11vw;
        height: 3.4vh;
        background-color: #38ABAB; /* Color de fondo del botón */
        color: black; /* Color del texto */
        padding: 0.8vh 1.2vw; /* Espaciado interno del botón */
        border-radius: 1.27vh; /* Bordes redondeados */
        transition: background-color 0.3s; /* Transición suave para el efecto hover */
        margin-left: 8vw;
        margin-top: 1vh;
        font-family: Inter;
        font-size: 1.2rem; /* Tamaño de fuente responsivo */
        color: white; /* Color del texto */
    }
    
    .adminis > .bottonmenu {
        margin-top: 10vh;
        flex: 1 1 calc(50% -2vw);
    }
    
    main > .adminis {
        display: flex; 
        align-items: center; /* Centra los elementos verticalmente */
    }
}