

/* Estilos de logirecuperacioncontraseña */

.estimate{
	top: 314px;
	left: 458px;
	width: 543.4px;
	height: 36.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: center;
	color:#000000;
	position:absolute;
}

#passw1{
	top: 425px;
	left: 577px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	position:absolute;
}

.estima{
	top: 553px;
	left: 458px;
	width: 372.4px;
	height: 36.4px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: center;
	color:#000000;
	position: absolute;
}

#passw2{
	top: 643px;
	left: 577px;
	width: 300px;
	height: 40px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
	position:absolute;
}